* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: grey;
    font-family: 'Poppins', sans-serif;
}


.form_container {
    background: #fff;
    padding: 30px;
    margin-top: 20px;
    border-radius: 3px;
}

.form_container .form_item {
    margin-bottom: 25px;
}

.form_container .form_wrap.form_grp {
    display: flex;
}

.form_container .form_wrap.form_grp .form_item {
    width: 50%;
}

.form_container .form_wrap.form_grp .form_item:first-child {
    margin-right: 4%;
}

.form_container .form_item label {
    display: block;
    margin-bottom: 5px;
}

.form_container .form_item input,
.form_container .form_item select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #dadce0;
    border-radius: 3px;
}

.form_container .btn input[type="submit"] {
    background: grey;
    border: 1px solid grey;
    padding: 10px;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    color: #fff;
}